.container{
    display: flex;
    justify-content: center;
}

.wrapper{
    display: grid;
    gap: 10px;
}

.slctsContainer{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
}

@media (max-width: 920px) {

    .slctsContainer{
        flex-direction: column;
        gap: 7px;
    }
}